In [2]:
import pandas as pd
from pathlib import Path

In [8]:
ny_data_csv = pd.read_csv("daily_data.csv")

ny_weather_df = pd.DataFrame(ny_data_csv)

ny_weather_clean_df  = ny_weather_df[["DATE", "DailyPeakWindDirection", "DailyPeakWindSpeed", "DailyPrecipitation", "DailySnowDepth", "DailySnowfall", "DailySustainedWindDirection", "DailySustainedWindSpeed"]]

ny_weather_clean_df

,DATE,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed
0,2015-01-01T23:59:00,190.0,26.0,0.00,0.0,0.0,190.0,20.0
1,2015-01-02T23:59:00,250.0,30.0,T,0.0,T,310.0,23.0
2,2015-01-03T23:59:00,170.0,21.0,0.57,0.0,1.6,160.0,15.0
3,2015-01-04T23:59:00,290.0,33.0,0.22,1.0,0.0,290.0,24.0
4,2015-01-05T23:59:00,280.0,42.0,T,0.0,T,290.0,32.0
...,...,...,...,...,...,...,...,...
2663,2022-05-27T23:59:00,160.0,28.0,0.00,0,0.0,160.0,21.0
2664,2022-05-28T23:59:00,310.0,26.0,0.04,0,0.0,310.0,22.0
2665,2022-05-29T23:59:00,90.0,13.0,0.00,0,0.0,180.0,9.0
2666,2022-05-30T23:59:00,200.0,15.0,0.00,0,0.0,190.0,12.0
2667,2022-05-31T23:59:00,250.0,29.0,0.00,0,0.0,250.0,21.0

In [12]:
ny_weather_clean_df = ny_weather_clean_df.astype({"DATE": "datetime64[ns]"})

ny_weather_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2668 entries, 0 to 2667
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   DATE                         2668 non-null   datetime64[ns]
 1   DailyPeakWindDirection       2668 non-null   float64
 2   DailyPeakWindSpeed           2668 non-null   float64
 3   DailyPrecipitation           2668 non-null   object
 4   DailySnowDepth               2668 non-null   object
 5   DailySnowfall                2668 non-null   object
 6   DailySustainedWindDirection  2668 non-null   float64
 7   DailySustainedWindSpeed      2668 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 166.9+ KB

In [20]:
ny_weather_clean_sorted_df = ny_weather_clean_df.sort_values(by=['DATE'])
ny_weather_clean_sorted_df.head(500)

,DATE,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed,year,month
0,2015-01-01 23:59:00,190.0,26.0,0.00,0.0,0.0,190.0,20.0,2015,1
1,2015-01-02 23:59:00,250.0,30.0,T,0.0,T,310.0,23.0,2015,1
2,2015-01-03 23:59:00,170.0,21.0,0.57,0.0,1.6,160.0,15.0,2015,1
3,2015-01-04 23:59:00,290.0,33.0,0.22,1.0,0.0,290.0,24.0,2015,1
4,2015-01-05 23:59:00,280.0,42.0,T,0.0,T,290.0,32.0,2015,1
...,...,...,...,...,...,...,...,...,...,...
495,2016-06-08 23:59:00,260.0,41.0,T,0.0,0.0,310.0,30.0,2016,6
496,2016-06-09 23:59:00,300.0,39.0,0.00,0.0,0.0,300.0,30.0,2016,6
497,2016-06-10 23:59:00,300.0,30.0,0.00,0.0,0.0,280.0,22.0,2016,6
498,2016-06-11 23:59:00,100.0,14.0,0.45,0.0,0.0,220.0,12.0,2016,6
499,2016-06-12 23:59:00,300.0,38.0,T,0.0,0.0,310.0,28.0,2016,6

In [ ]:
#Sophie starts below

In [ ]:
# Connor Starts below

In [ ]:
# Emily starts below here

In [ ]:
#Oumar starts here